<!DOCTYPE html>
html(lang="en")
  head
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled Bootstrap with popper.js -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>

    <!-- Local -->
    link(rel='stylesheet', type='text/css', href='css/style.css')
    <meta http-equiv='refresh' content=#{refresh_interval}>    

body     
    h1(title)
        - let i = 1
        div(class='container-fluid bg-light')
            each node in nodes
                div(class='col')
                    button(type="button" class="btn btn-block" title='#{node.mac} #{node.name}')
                        span(class="badge badge-light")
                            #{i}
                        #{node.time} ms.
                - i++
               
                if (i + 11) % 12 == 0
                    </div>
                
                if i == 255
                    <h6 class='col-1 text-success'>#{nodes_on} / <span class='text-dark'>#{nodes_off}</span></h6>
                    </div>

